* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden; /* Prevents scrolling */
    background-color: #000; /* Dark background while shader loads */
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}