html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    font-family: sans-serif;
}

canvas {
    display: block;
    top: 0;
    left: 0;
    outline: none;

    touch-action: none; /* Disables browser zooming/panning gestures */
    overscroll-behavior: none;     /* Prevents the "rubber band" bounce effect */
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
}