.about-section {
    position: relative;
    width: 100%;
    height:100svh;
    overflow:hidden;
    background: linear-gradient(
        to bottom,
        transparent,
        rgba(0,0,0,.75) 18%,
        #000 100%
    );
}

.about-track {
    display: flex;
    height: 100%;
    width: max-content;
}

.about-panel {
    width: 98vw;
    height: 100svh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    font-family: "Clash Display", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: clamp(2rem, 4vw, 4rem);
    line-height: 1.18;
    font-weight: 500;
    text-align: center;
    color: wheat;
    /* filter: blur(.75px); */
    letter-spacing: -0.02em;
}

.highlight {
    color: rgb(255, 166, 0);
}

.word {
    display: inline-block;
    will-change: transform, opacity;
}

.line {
    overflow: hidden;
}

.char {
    display: inline-block;
}

/* --- Responsive Adjustments --- */
@media (max-width: 1000px) {

    .about-panel {
        width: 100vw;
        padding: 0 6vw;
        font-size: clamp(1.5rem, 6vw, 2.5rem); 
        line-height: 1.35;
    }
}